<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ezsky.dao.VideoMapper">

    <resultMap id="videoResultMap" type="xyz.ezsky.entity.vo.VideoVo">
        <id property="id" column="id"/>
        <result property="filePath" column="file_path"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="hashValue" column="hash_value"/>
        <result property="fileExtension" column="file_extension"/>
        <result property="episodeId" column="episode_id"/>
        <result property="animeId" column="anime_id"/>
        <result property="animeTitle" column="anime_title"/>
        <result property="episodeTitle" column="episode_title"/>
        <result property="type" column="type"/>
        <result property="typeDescription" column="type_description"/>
        <result property="shift" column="shift"/>
        <result property="Matched" column="matched"/>
        <result property="joinTime" column="join_time"/>
        <result property="isAir" column="is_air"/>
    </resultMap>

    <insert id="insertVideo"  parameterType="xyz.ezsky.entity.vo.VideoVo">
        INSERT INTO video_metadata (file_path, file_name, file_size, hash_value, file_extension, episode_id, anime_id, anime_title, episode_title, type, type_description, shift,matched,join_time,is_air)
        VALUES (#{filePath}, #{fileName}, #{fileSize}, #{hashValue}, #{fileExtension}, #{episodeId}, #{animeId}, #{animeTitle}, #{episodeTitle}, #{type}, #{typeDescription}, #{shift},#{Matched},#{joinTime},#{isAir})
    </insert>
    <!-- 根据id查询单个视频信息 -->
    <select id="selectVideoById" parameterType="Integer"  resultMap="videoResultMap">
        SELECT * FROM video_metadata WHERE id = #{id}
    </select>

    <!-- 查询所有视频信息 -->
    <select id="selectAllVideos"  resultMap="videoResultMap">
        SELECT * FROM video_metadata ORDER BY id DESC;
    </select>
    <!-- 查询所有视频信息 -->
    <select id="selectAllVideosNotMatch"  resultMap="videoResultMap">
        SELECT * FROM video_metadata where matched='0' ORDER BY id DESC LIMIT 20;
    </select>
    <!-- 更新视频信息 -->
    <update id="updateVideo" parameterType="xyz.ezsky.entity.vo.VideoVo">
        UPDATE video_metadata
        <set>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileSize != null and fileSize != 0">file_size = #{fileSize},</if>
            <if test="hashValue != null">hash_value = #{hashValue},</if>
            <if test="fileExtension != null">file_extension = #{fileExtension},</if>
            <if test="episodeId != null">episode_id = #{episodeId},</if>
            <if test="animeId != null">anime_id = #{animeId},</if>
            <if test="animeTitle != null">anime_title = #{animeTitle},</if>
            <if test="episodeTitle != null">episode_title = #{episodeTitle},</if>
            <if test="type != null">type = #{type},</if>
            <if test="typeDescription != null">type_description = #{typeDescription},</if>
            <if test="shift != null">shift = #{shift},</if>
            <if test="Matched != null">matched = #{matched},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
            <if test="isAir != null">is_air = #{isAir}</if>
        </set>
        WHERE id = #{id}
    </update>
    <!-- 根据id删除视频信息 -->
    <delete id="deleteVideoById" parameterType="Integer">
        DELETE FROM video_metadata WHERE id = #{id}
    </delete>

    <select id="getNotMatchedVideoByName" resultMap="videoResultMap">
        SELECT * FROM video_metadata WHERE file_name = #{fileName} and matched='0'
    </select>

    <select id="selectVideoByFilePath" resultMap="videoResultMap">
        SELECT * FROM video_metadata WHERE file_path = #{filePath}
    </select>

    <delete id="deleteVideoByFilePath">
        DELETE FROM video_metadata WHERE file_path = #{filePath}
    </delete>

    <select id="selectVideoBySubtitle" resultMap="videoResultMap">
        SELECT * FROM video_metadata
        WHERE #{filePath}
        LIKE substr(file_path, 1, LENGTH(file_path) - INSTR(REVERSE(file_path), '.')) || '%';
    </select>

    <select id="getVideosFromAnime" resultMap="videoResultMap">
        SELECT * FROM video_metadata WHERE anime_id = #{animeId}
    </select>

    <insert id="batchInsertVideos">
        INSERT INTO video_metadata (file_path, file_name, file_size, hash_value, file_extension, episode_id, anime_id, anime_title, episode_title, type, type_description, shift,matched,join_time,is_air) VALUES
        <foreach collection="list" item="video" separator=",">
            (#{video.filePath}, #{video.fileName}, #{video.fileSize}, #{video.hashValue}, #{video.fileExtension}, #{video.episodeId}, #{video.animeId}, #{video.animeTitle}, #{video.episodeTitle}, #{video.type}, #{video.typeDescription}, #{video.shift},#{video.Matched},#{video.joinTime},#{video.isAir})
        </foreach>
    </insert>

    <select id="selectVideoByAnimeId" resultMap="videoResultMap">
        SELECT * FROM video_metadata WHERE anime_id = #{animeId}
    </select>
</mapper>

